<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Acerca del Blog</h1>
                <p>¡Bienvenidos a nuestro blog! Aquí encontrarás todo lo que necesitas saber sobre el emocionante mundo de las computadoras. Nuestro objetivo es guiarte paso a paso en el proceso de armar tu propia PC desde cero, utilizando componentes de las mejores marcas del mercado, como ASUS, Lenovo, MSI, entre otras. También nos enfocamos en ofrecerte guías detalladas para configurar tu equipo recién adquirido, optimizando su rendimiento para que puedas aprovecharlo al máximo, ya sea para trabajo, gaming o estudio.</p>

                <p>Sabemos que montar y configurar un equipo puede parecer una tarea abrumadora, pero estamos aquí para hacerla más sencilla. En nuestras publicaciones encontrarás tutoriales prácticos, consejos sobre la elección de hardware, recomendaciones de software y configuraciones ideales para cada tipo de uso. Ya seas un principiante o un entusiasta de la tecnología, nuestro contenido está diseñado para que aprendas de forma clara y sin complicaciones.</p>
                
                <p>¡Únete a nuestra comunidad y descubre todo lo que necesitas para llevar tu experiencia informática al siguiente nivel!</p>
            </div>
        </div>
    </div>
</main>