<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>¿Qué Ofrecemos?</h1>
                    <p>En este blog, proporcionamos análisis detallados, comparaciones, y guías prácticas sobre las principales marcas de computadoras, como:</p>
                    
                    <p>ASUS: Conocida por su durabilidad y rendimiento en juegos.</p>
                    <p>Lenovo: Líder en laptops para negocios y productividad.</p>
                    <p>HP: Ofreciendo soluciones versátiles para usuarios de hogar y oficina.</p>
                    <p>Apple: Especialistas en equipos premium para creativos y diseñadores.</p>
                    <p>Acer y Dell: Opciones populares para quienes buscan equilibrio entre calidad y precio.</p>
                    
                    <h1>Nuestro Enfoque</h1>
                    <p>No solo cubrimos las características técnicas, sino que también exploramos los usos específicos de cada equipo. ¿Buscas una computadora para gaming? ¿Necesitas una laptop ligera para trabajar en movilidad? Sea cual sea tu necesidad, te proporcionamos la información que necesitas para tomar decisiones informadas.</p>
                    
                    <h1>Nuestra Misión</h1>
                    <p>Queremos hacer que la tecnología sea accesible para todos. Ya sea que seas un principiante que busca su primera computadora o un experto en hardware buscando optimizar su equipo, en este blog encontrarás contenido diseñado para todos los niveles de experiencia.</p>
                    
                    <p>Gracias por confiar en nosotros como tu guía tecnológica. ¡Explora y aprende!</p>
            </div>
        </div>
    </div>
</main>